.navbar a.navbar-brand {
    font-weight: bold;
}

.text-transform-none,
.text-transform-none .btn {
    text-transform: none !important;
}

.sidebar {
    padding: 0;
    margin: 0;
    height: 100vh !important;
}

.sidebar .expand {
    position: absolute;
    right: 6px;
    width: 24px;
    height: 24px;
    padding-left: 8px;
    /*background-color: red;*/
}

.sidebar .caret {
    display: inline-block;
    width: 0;
    height: 0;
    /*margin-left: 2px;*/
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

*[aria-expanded=true].caret {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg)
}


.sidebar .menus .menu-group {
    margin-top: -1px !important;
    border-top: 1px solid #343434 !important;
    border-bottom: 1px solid #343434 !important;
}


.sidebar .menu-group > .menu-item:not(:last-child) {
    margin-top: -1px;
    border-top: 1px solid #343434 !important;
    border-bottom: 1px solid #343434 !important;
}

.sidebar .menu-group .menu-item:first-child {
    /*border-bottom: 1px solid #343434 !important;*/
}

.sidebar div[data-toggle=collapse] {
    background-color: transparent !important;
}

.sidebar div[data-toggle=collapse]:hover {
    background-color: hsla(0, 0%, 78%, .2);
}

/*
 * Request
 */

.request {
    border: 1px solid black;
    border-radius: 5px;
}

.request .request-pattern {
    font-family: monospace;
    font-weight: 800 !important;
}

.request .request-method {
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    background: #000;
    font-family: sans-serif;
    color: #fff;
}

.request[data-method=GET] {
    border-color: #61affe;
    background-color: rgba(97, 175, 254, .1);
}

.request[data-method=GET] .request-method {
    background-color: #61affe;
}

.request[data-method=POST] {
    border-color: #49cc90;
    background-color: rgba(73, 204, 144, .1);
}

.request[data-method=POST] .request-method {
    background-color: #49cc90;
}

.request[data-method=PUT] {
    border-color: #fca130;
    background-color: rgba(252, 161, 48, .1);
}

.request[data-method=PUT] .request-method {
    background-color: #fca130;
}

.request[data-method=DELETE] {
    border-color: #f93e3e;
    background-color: rgba(249, 62, 62, .1);
}

.request[data-method=DELETE] .request-method {
    background-color: #f93e3e;
}

.request[data-method=HEAD] {
    border-color: #9012fe;
    background-color: rgba(144, 18, 254, .1);
}

.request[data-method=HEAD] .request-method {
    background-color: #9012fe;
}

.request[data-method=OPTIONS] {
    border-color: #0d5aa7;
    background-color: rgba(13, 90, 167, .1);
}

.request[data-method=OPTIONS] .request-method {
    background-color: #0d5aa7;
}

.request[data-method=PATCH] {
    border-color: #50e3c2;
    background-color: rgba(80, 227, 194, .1);
}

.request[data-method=PATCH] .request-method {
    background-color: #50e3c2;
}


/*
 * Logger
 */

.logger {
    border: 1px solid black;
    border-radius: 5px;
}

.logger .logger-name {
    font-family: monospace;
    font-weight: 800 !important;
}

.logger .logger-level {
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    background: #000;
    font-family: sans-serif;
    color: #fff;
}

.logger[data-level=INFO] {
    border-color: #61affe;
    background-color: rgba(97, 175, 254, .1);
}

.logger[data-level=INFO] .logger-level {
    background-color: #61affe;
}

.logger[data-level=DEBUG] {
    border-color: #49cc90;
    background-color: rgba(73, 204, 144, .1);
}

.logger[data-level=DEBUG] .logger-level {
    background-color: #49cc90;
}

.logger[data-level=WARN] {
    border-color: #fca130;
    background-color: rgba(252, 161, 48, .1);
}

.logger[data-level=WARN] .logger-level {
    background-color: #fca130;
}

.logger[data-level=ERROR] {
    border-color: #f93e3e;
    background-color: rgba(249, 62, 62, .1);
}

.logger[data-level=ERROR] .logger-level {
    background-color: #f93e3e;
}

.logger[data-method=HEAD] {
    border-color: #9012fe;
    background-color: rgba(144, 18, 254, .1);
}

.logger[data-method=HEAD] .request-method {
    background-color: #9012fe;
}

.logger[data-method=OPTIONS] {
    border-color: #0d5aa7;
    background-color: rgba(13, 90, 167, .1);
}

.logger[data-method=OPTIONS] .request-method {
    background-color: #0d5aa7;
}

.logger[data-method=PATCH] {
    border-color: #50e3c2;
    background-color: rgba(80, 227, 194, .1);
}

.logger[data-method=PATCH] .request-method {
    background-color: #50e3c2;
}


.markdown > pre:before {
    content: '';
    display: block;
    background: url(/assets/img/background/code-colse.svg);
    height: 30px;
    width: 100%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #282c34;
    border-radius: 5px;
    background-position: 10px 10px;
}

.markdown pre code {
    padding: 1em 1em;
    max-height: 420px;
    overflow-x: auto;
    overflow-y: auto;
}

.markdown pre {
    border-radius: 5px;
    background-color: #282c34;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%);
    width: 100%;
}

/*段落*/
.markdown p {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    line-height: 26px;
    color: black;
}
